*_crashes/
*.iml
*.log
*.pdf
*.pyc
*.swp
*.tar.gz
.DS_Store
.vscode/
.ipynb_checkpoints/
.cache/
.idea/
.janala/
.java-version
.python-version
.venv/
apidocs/
build/
fuzz-results/
target/
scripts/slurm/results/
